# Training Configuration

run_name: "darcy_flow_continuous_igno"
device: "cuda"
artifact_root: "runs"
seed: 10086

problem:
  type: "darcy_flow_continuous"

stages:
  - foundation

# pretrained:
#   path: "/path/to/checkpoint.pt"

dgno:
  # 10,000
  epochs: 10000
  batch_size: 50
  epoch_show: 50
  loss_weights:
    pde: 0.25
    data: 2.0
  optimizer:
    type: Adam
    lr: 0.001
  scheduler:
    type: StepLR
    step_size: 2500
    gamma: 0.5

nf:
  # 10,000
  epochs: 10000
  batch_size: 50
  epoch_show: 100
  nf:
    dim: 128
    num_flows: 3
    hidden_dim: 128
    num_layers: 2
  optimizer:
    type: Adam
    lr: 0.001
  scheduler:
    type: StepLR
    step_size: 2500
    gamma: 0.5

encoder:
  epochs: 1000
  batch_size: 100
  epoch_show: 100
  freeze_decoder: true
  freeze_nf: true
  optimizer:
    type: Adam
    lr: 0.0001
  scheduler:
    type: Plateau
    patience: 50
    factor: 0.5
