run_name: darcy_flow_continuous_igno
device: cuda
artifact_root: runs
seed: 10086
problem:
  type: darcy_flow_continuous
stages:
- foundation
pretrained: null
dgno:
  epochs: 10000
  batch_size: 50
  epoch_show: 50
  loss_weights:
    pde: 0.25
    data: 2.0
  optimizer:
    type: Adam
    lr: 0.001
    weight_decay: 0.0
  scheduler:
    type: StepLR
    step_size: 2500
    gamma: 0.5
    patience: 10
    factor: 0.5
nf:
  epochs: 10000
  batch_size: 50
  epoch_show: 100
  nf:
    dim: 128
    num_flows: 3
    hidden_dim: 128
    num_layers: 2
  optimizer:
    type: Adam
    lr: 0.001
    weight_decay: 0.0
  scheduler:
    type: StepLR
    step_size: 2500
    gamma: 0.5
    patience: 10
    factor: 0.5
encoder:
  epochs: 1000
  batch_size: 100
  epoch_show: 100
  freeze_decoder: true
  freeze_nf: true
  loss_weights:
    pde: 1.0
    data: 1.0
  optimizer:
    type: Adam
    lr: 0.0001
    weight_decay: 0.0
  scheduler:
    type: Plateau
    step_size: 100
    gamma: 0.5
    patience: 50
    factor: 0.5
